body {
     font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;}
#about-me {
            background-color: #f7f6c5;
            padding: 30px;
            margin: 20px;}
#education {
            background-color: #f7f6c5;
            padding: 30px;
            margin: 20px;}
#hobbies {
            background-color: #f4f7c5;
            padding: 30px;
            margin: 20px;}
hr {
            border: none;
            height: 5px;
            width: 80%;
            margin: 20px auto;
            background-color: #555555;}
.section-title {
            font-size: 28px;
            font-weight: bold;}