body {
         margin: 0;
        font-family: Arial, sans-serif;
        line-height: 1.6;}
header {
        position: sticky;
        top: 0;
        background-color: #1e90ff;
        padding: 20px;
        color: rgb(255, 255, 255);
        border-bottom: 3px solid #276832;
        z-index: 1000;}
header h1 {
        margin: 0;}
nav a {
        color: rgb(255, 255, 255);
        margin-right: 15px;
        text-decoration: none;
        font-weight: bold;}
 main {
        margin-top: 20px;
        padding: 20px;}