body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

h2, h3, h5, h6 {
    margin-bottom: 10px;
    color: #57371d;
}

form {
    background-color: #fff;
    max-width: 800px;
    margin: 10px auto;
    padding: 25px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #57371d;
}

h5 {
   
    font-weight: normal;
    color: #264653;
}

h6 {
    color: #264653;
    margin-bottom: 5px;
}


label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="fax"],
input[type="number"],
input[type="address"],
input[type="city"],
input[type="zipcode"],
input[type="firstname"],
input[type="lastname"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}


.donation-amount {
    margin-top: 15px;
    margin-bottom: 15px;
}

.donation-amount input[type="radio"] {
    margin-right: 6px;
}

.donation-amount label {
    margin-right: 20px;
    font-weight: normal;
}

input[type="checkbox"] {
    margin-right: 8px;
}


.buttons {
    margin-top: 25px;
    text-align: center;
}

button {
    background-color: #1d3557;
    color: #fff;
    border: none;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #457b9d;
}


p {
    color: #444;
    line-height: 1.5;
    font-size: 14px;
}

strong {
    color: #57371d;
}

h3 {
    border-bottom: 2px solid #a8dadc;
    padding-bottom: 5px;
    margin-top: 30px;
}


@media (max-width: 600px) {
    form {
        padding: 20px;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}
