* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login_form {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    
}

#login_form_heading {
    position: relative;
    top: 50px;
    text-align: center;
}

#main_form {
    height: 475px;
    width: 350px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(29, 53, 87, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px 0; 
}

.form-group {
    border-bottom: 2px solid black;
    margin-top: 30px;
    position: relative;
    padding-bottom: 5px;
}

.form-group label {
    font-weight: 600;
    display: block; 
}

.form-group label :hover {
    position: relative;
} 


.form-group input {
    border: none;
    background: transparent;
    outline: none;
    width: 250px;
    font-size: large;
    
}


.form-group i {
    position: absolute;
    right: 0;
    bottom: 5px;
    color: #4DA7D6; 
}


.actions {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.actions a {
    text-decoration: none;
    margin: 15px 0px;
    font-size: medium;
    text-align: center;
  
}

.signup {
    display: flex;
    margin-top: 10px;
}

.signup p {
    margin: 0;
}

.signup a {
    text-decoration: none;
    margin-left: 8px;
}

footer {
    display: flex;
    margin-top: 120px;
    font-size: large;
    text-align: center;
}

footer h4 {
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 25px;
    color: #4DA7D6;
}

footer a:hover,
.signup a:hover,
#forget_pass:hover {
    color: black;
    font-size: 18px; 
    font-weight: 700;
}


.button {
    height: 50px;
    width: 250px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #d62828;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 23px;
    color: #ffffff;
}